# This is Git's per-user configuration file.
[pull]
	rebase = true
[rebase]
	autoSquash = true
	autoStash = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master
[core]
  editor = nvim
  autocrlf = input
  excludesFile = ~/.gitignore_global
