# This is Git's per-user configuration file.
[pull]
	rebase = true
[rebase]
	autoSquash = true
	autoStash = true
[push]
	autoSetupRemote = true
[core]
  editor = nvim
  autocrlf = input
  excludesFile = ~/.gitignore_global
[user]
	name = Carsten Voss
	email = carsten.voss@aldautomotive.com
[credential]
	helper = store
